
# DB Creds
POSTGRES_USER=crux
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DB=cruxdb

# App
DB_URL=postgresql://crux:YOUR_PASSWORD@db:5432/cruxdb
SERVER_PORT=4001
NODE_ENV=production
JWT_SECRET=YOUR_PASSWORD
CLIENT_URL=http://localhost:3001