
# DB Creds
POSTGRES_USER=crux
POSTGRES_PASSWORD=secret
POSTGRES_DB=cruxdb

# App
JWT_SECRET=supersecret

DB_URL=postgresql://crux:secret@localhost:5432/cruxdb
SERVER_PORT=8000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

GROQ_API_KEY= ->your_groq_api_key_here<-